<div class="py-30 space-y-5 lg:space-y-9">
  <div id="split-2" class="text-center text-3xl lg:text-4xl">
    Подключитесь к конфиденциальному интернету прямо сейчас
  </div>
  <div class="mx-auto w-fit">
    <form action="https://t.me/heliosvpnbot" method="post" target="_blank">
      <button type="submit" class="bg-primary rounded-lg">
        Перейти в бота
      </button>
    </form>
  </div>
</div>
