---
import { Icon } from "astro-icon/components";
---

<div class="py-30 space-y-5">
  <div class="text-center text-3xl lg:text-4xl">
    Работает на всех платформах
  </div>
  <div
    id="logos"
    class="flex gap-3 items-center justify-center text-3xl lg:text-5xl"
  >
    <div
      class="bg-secondary p-5 rounded-xl hover:scale-110 transition-transform"
    >
      <Icon name="logos:microsoft-windows-icon" />
    </div>
    <div
      class="bg-secondary p-5 rounded-xl hover:scale-110 transition-transform"
    >
      <Icon name="logos:apple" />
    </div>
    <div
      class="bg-secondary p-5 rounded-xl hover:scale-110 transition-transform"
    >
      <Icon name="logos:android-icon" class="aspect-square w-fit" />
    </div>
    <div
      class="bg-secondary p-5 rounded-xl hover:scale-110 transition-transform"
    >
      <Icon name="logos:linux-tux" />
    </div>
  </div>
</div>
